.about-us {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzFyQOlg6R80G1kM2nu_4-lLcIGT8Hbsoxlg&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    h2 {
      font-size: 30px;
    }
  
    p {
      font-size: 16px;
    }
  }